__pycache__
*.mkv
*.mp4
*.mp3
*.aav
*.webm
*.m4a
*.aac
*.wav
*.aiff
*.wma
*.ogg
*.midi
*.flac
*.alac
*.avi
*.mov
*.mpg
*.mp2
*.mpeg
*.mpe
*.mpv
*.m4p
*.m4v
*.wmv
*.qt
*.flv
*.swf
*.avchd
audio_files
video_files